{% extends 'base.html.twig' %}

{% block title %}Gestion des candidats
{% endblock %}

{% block content %}
	{% if candidats %}
		<div class="d-flex justify-content-center align-items-center">
			{% include 'components/table.html.twig' with {headers: ["Id", "Nom", "Nombres de voix"], tableContent: candidats} %}
		</div>
	{% endif %}
{% endblock %}
