{% extends 'base.html.twig' %}

{% block title %}Gestion des candidats
{% endblock %}

{% block content %}
	{% if candidats is empty %}
		<p>Aucun candidat n'est disponible pour le moment.</p>
	{% else %}
		{{candidats}}
		{% include 'components/table.html.twig' with {headers: ["Id", "Nom", "Nombres de voix", "Pourcentages"], tableContent: candidats} %}
	{% endif %}
{% endblock %}
