{% extends 'components/card.html.twig' %}

{% block card_title %}
	{% if firstCandidatName %}
		<h3>Le résultat pour le candidat :
			{{ firstCandidatName }}</h3>
	{% else %}
		<h3>Aucun candidat trouvé</h3>
	{% endif %}
{% endblock %}

{% block icon %}
	how_to_vote
{% endblock %}

{% block message %}
	{{firstCandidatResult}}
{% endblock %}
