{% extends 'components/table.html.twig' %}

{% block tableContent %}
	{% for row in tableContent %}
		<tr>
			<td>
				{{row.id}}
			</td>
			<td>
				{{row.name}}
			</td>
			<td>
				{{row.nbVoix}}
			</td>
			<td>
				{{row.percentage}}
				%
			</td>
		</tr>
	{% endfor %}
{% endblock %}
