<div class="global-data-card m-3">
	<div class="card border-0 shadow-sm">
		<div class="card-body" style="background-color: $this->backgroundColor; color: $this->textColor;">
			<div class="d-flex align-items-center">
				<h5 class="card-title text-capitalize flex-grow-1"> {% block card_title %}{% endblock %}
					</h5>
					{% if icon %}
						<span class="material-icons-outlined rounded-circle p-1 m-2" style="background-color:$iconBackgroundColor; color:$iconTextColor; font-size:2.5rem;"> {% block icon %}{% endblock %}
							</span>
						{% endif %}
					</div>
					<hr class="hr">
					<h6 class="d-flex card-subtitle mb-2 mt-2" style="color: $this->textColor;">
						{% if message %}
							{% block message %}{% endblock %}
						{% endif %}
					</h6>
				</div>
			</div>
		</div>
