<div class="d-flex justify-content-between mb-3 gap-2">
	<div class="btn btn-primary d-flex align-items-center">
		<span class="material-icons-outlined">
			add_circle_outline
		</span>
		Ajouter
	</div>
	<div class="ml-auto">
		<form class="d-flex" role="search">
			<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success" type="submit">Search</button>
		</form>
	</div>
</div>


<div class="table-responsive">
	<table class="table table-bordered table-hover table-striped shadow-sm">
		<thead class="text-uppercase table-dark sticky-top" style="position: sticky!important; top: 0;">
			<tr>
				{% for header in headers %}
					<th>{{ header }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% block tableContent %}{% endblock %}
		</tbody>
	</table>
</div>
